.main {
    display: flex;
    gap: 80px;
}

.mainWrapper {
    display:table-caption;
    width: auto;
    height: 100%;
    -webkit-box-shadow: -1px 11px 12px 5px rgba(0,0,0,0.45);
    -moz-box-shadow: -1px 11px 12px 5px rgba(0,0,0,0.45);
    box-shadow: -1px 11px 12px 5px rgba(0,0,0,0.45);
}

.row {
    display: flex;
    box-sizing: border-box;
}

.row:nth-child(3), .row:nth-child(6){
    border-bottom: 1px solid #9e9e9e;
}
